{% extends 'base.html.twig' %}

{% block title %}Study-on
{% endblock %}

{% block body %}
    <h2>Курсы</h2>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-outline-dark mt-2 btn-sm" href="{{ path('course_new') }}">Новый курс</a>
    {% endif %}
    <div class="row">
        {% if courses is not empty %}
            {% for course in courses %}
                <div class="col-md-6">
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.name }}</h5>
                            <p class="card-text">{{ course.description }}</p>
                            <a class="btn btn-outline-info btn-sm" href="{{ path('course_show', {slug: course.slug}) }}" role="button">Пройти курс</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Здесь нет ни одного курса.
        </p>
    {% endif %}
{% endblock %}
