{% extends 'base.html.twig' %}

{% block title %}Новый курс / Study-on
{% endblock %}

{% block body %}
    <h2>Новый курс</h2>
    {{ include('course/_form.html.twig') }}
    <a class="btn btn-outline-dark ml-2 mt-3 btn-sm" href="{{ path('course_index') }}">Назад к списку курсов</a>
</div>{% endblock %}