{% extends 'base.html.twig' %}

{% block title %}Study-on/Новый курс{% endblock %}

{% block body %}
    <h1>Новый курс</h1>

    {{ include('course/_form.html.twig') }}

    <a href="{{ path('course_index') }}">Назад к списку курсов</a>
{% endblock %}
