<form method="post" action="{{ path('lesson_delete', {'id': lesson.id}) }}" onsubmit="return confirm('Удалить урок?');">
    <input name="_method" type="hidden" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
    <button class="btn btn-outline-danger mt-3 btn-sm">Удалить</button>
</form>