{% form_theme form 'form_errors.html.twig' %}
{{ form_start(form) }}
{{ form_widget(form) }}
<div class="row">
    <button class="btn btn-outline-info ml-3 mr-2 mt-3 btn-sm">{{ button_label|default('Сохранить') }}</button>
</div>
{{ form_end(form) }}
