{% extends 'base.html.twig' %}

{% block title %}Page not found / Study-On
{% endblock %}

{% block body %}
    <h2>Страница не найдена!</h2>
    <a class="btn btn-outline-dark mt-3 btn-sm" href="{{ path('course_index') }}">Перейти на страницу курсов</a>
{% endblock %}